* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  font-family: "Suzume", sans-serif;
}

.calculator {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  background-color: #23272e;

  position: relative;
}

.calculator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -0.15rem;
  background: conic-gradient(red, blue, red);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  pointer-events: none;
  z-index: -1;
}

.display {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  background-color: #23272e;
  box-shadow: inset 4px 4px 8px #23272e, inset -4px -4px 8px #121212;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  color: #fff;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #23272e;
  box-shadow: 4px 4px 8px #23272e, -4px -4px 8px #121212;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

button:hover {
  box-shadow: inset 2px 2px 12px #00000050;
}

.btn-equal {
  background-color: #007bff;
  color: #fff;
}
